.ant-tabs-nav .ant-tabs-tab-active {
  color: #ff4891!important;
  font-weight: 500;
  
}
.ant-tabs-nav .ant-tabs-tab{
  padding : .12rem .02rem;
}

.tabs span  {
  padding : .12rem 0;
  
}
 
.tabs img {
  width: .24rem;
  height : .24rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}

.list-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .1rem 0 .1rem;
}
.list-title {
  font-weight: 500;
  font-size: .22rem;
  color: #474245;
  line-height: .28rem;
}
.list-desc {
  padding-left: .11rem;
  font-size: .12rem;
  line-height: .2rem;
  color: #969696;
  position: relative;
  top:-0.1rem;
}
.list-desc-before:before {
  display: block;
  position: absolute;
  content: "";
  width: .02rem;
  height: .12rem;
  background: #d8d8d8;
  border-radius: .08rem;
  top: 50%;
  left: .05rem;
  transform: translateY(-50%);
}

.line-1px {
  display: block;
  width: 200%;
  height: .01rem;
  transform: scale(.5);
  transform-origin: left;
  background-color: #f5f5f5;
}
.article-list-wrap {
  // font-size: .875rem;
  .article-big {
    padding-bottom: 0.22rem;
    .big-wrap {
      padding-top: 0;
      .article-card{
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        padding: .15rem 0;
        .article__author {
          margin-bottom: .1rem;
          span{
            font-size: .14rem;
          line-height: .24rem;
          color: #474245;
          padding: 0 .07rem;
          }
        }
        .article__cover{

        }
      }
    }
  }
}