.shopheader{
    height: .80rem;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}
.shopheader_top{
    height: .48rem;
    font-size: .165rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopheader_top>i{
    margin-left: .05rem;
    margin-right: .05rem;
}

.shopRecommend{
    margin-top: .25rem;
    padding-bottom: .8rem;

}
.shopConent{
    width: 100%;
    margin-top: .92rem;
    height: 3.8rem;
    position: relative;
    background: url(https://static-as.missfresh.cn/frontend/cart/static/img/icon_buycar_empty_icon.3a1d061.png) no-repeat center #fff;
    background-size: 1rem 1rem;
    background-position-y: 1.7rem;
}
.kong{
    width: 100%;
    height: 2.4rem;
    position: absolute;
    bottom: 0;
}
.kong>p{
    width: 100%;
    text-align: center;
    color: #7f7f7f;
    margin-top: 1.5rem;
    font-size: .16rem;
}
.shop_p{
    font-size: .2rem;
    width: 2rem;
    margin-left: .08rem;
    margin-bottom:0 ;
}
.shop_ul{
    display: flex;
    padding: .06rem;
    flex-wrap: wrap;
}
.shop_ul>li{
    height: 2.6rem;
    width: 1.77rem;
    background: #fff;
    margin:.018rem;
    border-radius: 0.15rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li_img{
    margin-top: .1rem;
    height: 1.55rem;
    width: 1.55rem;
}
.li_p{
    width: 100%;
    height: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 0 .08rem;
    
   
}
.li_xia{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 .08rem;
    margin-top: .1rem;
    align-items: center;
}
.li_xia>img{
    width: .3rem;
    height: .3rem;
}
.addre{
    width: 100%;
    height: 100%;
    background: #eee; 
    overflow: hidden;
    position: relative;
    overflow: auto;
}
.first{
    width: 100%;
    height: 100%;
}
.addre_head{
    width: 100%;
    height: .45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .13rem;
    font-size: .17rem;
    background: #fff;
}

.add_bog{
    height: .6rem;
    width: 100%;
    padding: .1rem .12rem;
    background: #fff;
    margin-top: .02rem;
}
.add_sou{
   background: #f5f5f5;
   display: flex;
   height: .38rem;
   align-items: center;
}
.add_sou>div{
    margin-left: .1rem;
    color: black;
}
.add_shi{
    width: 100%;
    height: .39rem;
    color: #f4a22d;
    text-align:center;
    line-height: .39rem;
}
.add_ding{
    height: .44rem;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .145rem;
}
.add_span{
    margin-left: .05rem;
}
.shua{
    display: block;
    height:.44rem ;
    width: .44rem;
    line-height: .44rem;
    font-size: .18rem;
}
.shoehead{
    width: 100%;
    height: 100%;
    position: absolute;
    transition : top .6s;
    top: 800px;
}
.show{
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    transition : top .6s;
}
.from_add{
    width: 100%;
    height: 5.8rem;
    margin-top: .03rem;
}
.add_ul{
    width: 100%;
    height: 2.5rem;
    background: #fff;
}
.add_ul>li{
    height: .5rem;
    padding: 0 .15rem;
    display: flex;
    align-items: center;
    border: .01rem solid #eee;
    justify-content: space-between;
}
.add_ul>li>span{
    color: #272727;
    font-size: .165rem;
}
.add_ul>li>input{
    border: 0;
    width: 2.4rem;
    height: .36rem;
}
.addType{
    width: 2.45rem;
    display: flex;
}
.addType>a{
    border: .01rem solid #969696;
    color: #969696;
    padding: 0rem .02rem;
    font-size: .11rem;
    border-radius: .05rem;
    margin-left: .11rem;
    display: inline;
}
.addType>a:hover{
    color: #fff;
    background: #ff4891;
    border: .01rem solid #ff4891;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn>button{
    width: 3.4rem;
    height: .4rem;
    background: #ff4891;
    color: #fff;
    font-size: .16rem;
    border: none;
}
.selectAdd{
    width: 100%;
    height: 100%;
    position: absolute;
    transition : top .3s;
    top: 800px;
}
.selshow{
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    transition : top .3s;
}

.selec_head{
    width: 100%;
    height: .45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .13rem;
    font-size: .17rem;
    background: #fff;
}
.sel_sou{
    width: 3rem;
    background: #f5f5f5;
    height: .35rem;
}
.sel_sou>input{
    border: 0;
    outline: none;
    background: #f5f5f5;
    height: .35rem;
}
.addshoe{
    width: 100%;
    position: absolute;
    transition : top .3s;
    top: 800px;
}
.addshow{
    width: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    transition : top .3s;
    
}
.city{
    width: 2.3rem;
    display: flex;
    justify-content: space-between;
    margin-left:.16rem ;
    flex-wrap: wrap;
}
.city>div{
    width: .65rem;
    height: .3rem;
    border: 0.01rem solid #000;
    color: #000;
    font-size: .14rem;
    line-height: .3rem;
    text-align: center;
    background: #f1f4f4;
    margin-bottom: .2rem;
}
.city_head{
    height: .4rem;
    margin-left:.16rem ;
    color: #000;
    font-size: .14rem;
    line-height: .4rem;
}